BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
PointerAlignment: Left
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
IncludeBlocks: Regroup
SortIncludes: true
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
